<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css" />
    <title>{% block title %}Project Giraffe{% endblock %}</title>
    <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
</head>

<body>
    <div id="logo">
        <img alt="Felipe the Password Giraffe!" src="/static/logo.png" />
    </div>
    <div id="nav">
        {% block nav %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/admin/">Admin</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
