{% extends 'base.html' %}

{% block content %}
<p>Your new password is: {{ newpass }}</p>

<p>It can be accessed (1 time) at this URL: </p>
<input class = "passwordbox" type="text" value="http://10.72.104.152:8080/pass/{{ giraffe.url }}"
    onclick="$(this).select();" onfocus="$(this).focus(); $(this).select();"
    spellcheck="false" />

<p>Also, your secret word is below. Don't forget it!</p>
<input class = "passwordbox" type="text" value="{{ secret }}"
    onclick="$(this).select();" onfocus="$(this).focus(); $(this).select();"
    spellcheck="false" />

<p>This password is only valid until: {{ expire }}!</p>
{% endblock %}
